@model CS340_Group_Project.Models.Ingredient
<form method="post">
    <fieldset>
        <legend>Add Ingredient</legend>
        <div>
            <label for="Name">Name:</label>
            <input type="text" name="Name" value="" />
        </div>
        <div>
            <label for="Description">Description (optional):</label>
            <input type="text" name="Description" value="" />
        </div>
        <input type="submit" value="Submit" class="submit" />
    </fieldset>
</form>
